<button type="button" class="btn btn-primary"> 
  <a routerLink="/" style="color: white">Back to {{selectedFamily}} family list</a>
</button>
<h5>List of {{selectedFamily}} ({{count}} cars available)</h5>

<app-range-filter></app-range-filter>

<ng-container *ngIf="(modelFamilyArray | sortByCarType:filteringService.carType | sortByFuel:filteringService.fuelType | filterByPrice:filteringService.maxPrice) as result">

  <div *ngIf="result.length>0; else elseBlock" class="alert alert-success">
    {{result.length}} vehicles in your selection
  </div>

  <ng-template #elseBlock>
    <div class="alert alert-warning">
      No vehicle matches with your selection
    </div>
  </ng-template>

  <div class="row">
    <div class="list-group-item col-md-12" *ngFor="let model of result | orderBy: 'order'">
      <a  routerLink="../../detail/{{model.Reference}}">{{ model.Reference }}</a>
    </div>
  </div>

</ng-container>