<button type="button" class="btn btn-primary"> 
  <a routerLink="/" style="color: white">Back to family list</a>
</button>
<h5>List of {{selectedFamily}}</h5>
<div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let model of modelFamilyArray">
    <a routerLink="../../detail/{{model.Reference}}">{{ model.Reference }}</a>
  </li>
</ul>



<!--
<h2>{{modelFamily}}</h2>
<h5>{{count}} cars in this list</h5>
<div class=""><b>{{fuelGasoline.length}}</b> vehicles on gasoline and <b>{{fuelDiesel.length}} on diesel</b></div>

</div>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let model of modelFamilyList"

  >
    <a routerLink="../../detail/{{model.Reference}}">{{ model.Reference }}</a>
  </li>
</ul>
-->
