<div ng-if="car">

  <button type="button" class="btn btn-primary">
    <a routerLink="../../family/{{marketingName}}" style="color: white;">Back to {{marketingName}} family</a>
  </button>

  <h5>Detailed view for {{marketingName}}</h5>

  <div>
    <ul class="list-group">
      <li class="list-group-item">Family : {{marketingName}}</li>
      <li class="list-group-item">Accesories = {{car.Accessories}}</li>
      <li class="list-group-item">BigDealPrice= {{car.BigDealPrice}}</li>
      <li class="list-group-item">CataloguePrice = {{car.CataloguePrice}}</li>
      <li class="list-group-item">Color = {{car.Color}}</li>
      <li class="list-group-item">Deprecioation = {{car.Deprecioation}}</li>
      <li class="list-group-item">DeprecioationReason = {{car.DeprecioationReason}}</li>
      <li class="list-group-item">Discount = {{car.Discount}}</li>
      <li class="list-group-item">FirstImmatDate = {{car.FirstImmatDate}}</li>
      <li class="list-group-item">FuelCode = {{car.FuelCode}}</li>
      <li class="list-group-item">Gear = {{car.Gear}}</li>
      <li class="list-group-item">Km = {{car.Km}}</li>
      <li class="list-group-item">Model = {{car.Model}}</li>
      <li class="list-group-item">Motorisation = {{car.Motorisation}}</li>
      <li class="list-group-item">Reference = {{car.Reference}}</li>
      <li class="list-group-item">version = {{car.version}}</li>
    </ul>
  </div>

</div>