<h2>Welcome on the bigDeal !</h2>
<h5>{{count}} cars in the list</h5>
<button class="btn btn-primary"
        (click)="onFetch()">Récupérer les voitures</button>

      <div ng-repeat="car in listVehicles " >
      
      <div class="row">
          <div class="span4" *ngFor="let carModel of carFamilies">
              <a routerLink="family/{{carModel.Name}}">
                <div class=""  style="min-width:250px; height:200px; border:1px solid #ccc!important; border-radius: 5px; margin-top:10px; margin-right:10px">
                  {{ carModel.Name }} ({{carModel.numberOfCar}})
                </div>
              </a>
          </div>
      </div>
      
    
