<h2>Welcome on the bigDeal !</h2>

<div *ngIf="!listVehicles" class="alert alert-error box-msg">
  <h5>loadgin vehicles</h5>
</div>

<div *ngIf="listVehicles" class="alert alert-success box-msg">
  <h5>{{count}} cars loaded in the list</h5>
</div>

<div class="container">

  <select id="carTypeSelector" class="form-control" name="carTypeSelector" ngModel (change)="selectCarType($event.target.value)">
    <option value="all" selected>all</option>
    <option value="new">new</option>
    <option value="secondHand">second hand</option>
  </select>
  
  <select id="carFuelSelector" class="form-control" name="carFuelSelector" ngModel (change)="selectFuelType($event.target.value)">
      <option value="all" selected>all</option>
      <option value="diesel">Diesel</option>
      <option value="gasoline">gasoline</option>
    </select>

    <mat-slider min="10000"
                max="35000" 
                step="1000" 
                value="12000" 
                thumbLabel 
                width= 400
                tickInterval="1000" 
                [(ngModel)]="price" 
                (change)="priceFilter($event.value)">
                {{price}}
    </mat-slider>

  <ul>
    <li *ngFor="let car of listVehicles | orderBy:OrderFilter" >
      {{ car.Reference }}
    </li>
  </ul>

 <!--
  <table>
    <div *ngFor="let carModel of carFamilies">
      <div class="col-lg-12">
        <a routerLink="/family/{{carModel}}">{{carModel}} ({{ sumByModel(carModel) }})</a>
      </div>
    </div>
  </table>
 -->
</div>