/* You can add global styles to this file, and also import other style files */
#hero-image {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: red;
  z-index: 10000;
}

#hero-image img {
  position: absolute;
  min-height: 100%;
  height: auto;
  min-width: 100%;
  width: auto;
  margin: auto;
  right: 0;
  left: 0;
  top: 0;
  z-index: 0;
}